openapi: 3.0.1
info:
  title: CONFETI Server API Document
  description: 응답 테스트 검증이 완료된 명세서입니다.
  version: 0.0.1
servers:
- url: https://api.confeti.xyz
- url: http://localhost:8080
tags: []
paths:
  /performances/search/ac:
    get:
      tags:
      - performance
      operationId: performance/공연_연관_검색_api/
      parameters:
      - name: accessToken
        in: query
        description: 엑세스 토큰
        required: false
        schema:
          type: string
      - name: term
        in: query
        description: 검색어
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: "검색 개수<br>범위 : 1 ~ 10<br>기본 값 : 1"
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: |-
          공연 진행 상태
          값 : all|expected
        required: false
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/performances-search-ac-271404440"
              examples:
                performance/공연_연관_검색_api/:
                  value: |-
                    {
                      "status" : 200,
                      "message" : "요청이 성공했습니다.",
                      "data" : {
                        "performances" : [ {
                          "id" : 1,
                          "title" : "종료된 콘서트 1 - 제목",
                          "posterUrl" : "https://confeti-bucket.s3.ap-northeast-2.amazonaws.com/concert/poster/img_logo_3d.svg"
                        } ]
                      }
                    }
  /user/timetables/festivals:
    post:
      tags:
      - user-timetable
      summary: 타임테이블에 페스티벌 추가 API
      description: 타임테이블에 페스티벌 추가 API
      operationId: user_timetable/타임테이블_페스티벌_추가_api/
      parameters:
      - name: Authorization
        in: header
        description: 엑세스 토큰
        required: true
        schema:
          type: string
        example: "Bearer {access_token}"
      - name: Content-Type
        in: header
        description: application/json
        required: true
        schema:
          type: string
        example: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/user-timetables-festivals-2067042806"
            examples:
              user_timetable/타임테이블_페스티벌_추가_api/:
                value: |-
                  {
                    "festivals" : [ {
                      "festivalId" : 1
                    }, {
                      "festivalId" : 2
                    } ]
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/user-favorites-artists-artistId-1478031720"
              examples:
                user_timetable/타임테이블_페스티벌_추가_api/:
                  value: |-
                    {
                      "status" : 200,
                      "message" : "요청이 성공했습니다."
                    }
  /user/favorites/artists/{artistId}:
    post:
      tags:
      - user
      operationId: user_favorite/아티스트_좋아요_추가_api/
      parameters:
      - name: artistId
        in: path
        description: 아티스트 식별 ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 엑세스 토큰
        required: true
        schema:
          type: string
        example: "Bearer {access_token}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/user-favorites-artists-artistId-1478031720"
              examples:
                user_favorite/아티스트_좋아요_추가_api/:
                  value: |-
                    {
                      "status" : 200,
                      "message" : "요청이 성공했습니다."
                    }
    delete:
      tags:
      - user-favorite
      operationId: user_favorite/아티스트_좋아요_삭제_api/
      parameters:
      - name: artistId
        in: path
        description: 아티스트 식별 ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 엑세스 토큰
        required: true
        schema:
          type: string
        example: "Bearer {access_token}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/user-favorites-artists-artistId-1478031720"
              examples:
                user_favorite/아티스트_좋아요_삭제_api/:
                  value: |-
                    {
                      "status" : 200,
                      "message" : "요청이 성공했습니다."
                    }
components:
  schemas:
    user-timetables-festivals-2067042806:
      type: object
      properties:
        festivals:
          type: array
          description: 추가할 페스티벌 리스트
          items:
            type: object
            properties:
              festivalId:
                type: number
                description: 페스티벌 아이디
    performances-search-ac-271404440:
      type: object
      properties:
        data:
          type: object
          properties:
            performances:
              type: array
              description: 공연 리스트
              items:
                type: object
                properties:
                  posterUrl:
                    type: string
                    description: 공연 포스터 URL
                  id:
                    type: number
                    description: 공연 아이디
                  title:
                    type: string
                    description: 공연 제목
        message:
          type: string
          description: 요청이 성공했습니다.
        status:
          type: number
          description: "200"
    user-favorites-artists-artistId-1478031720:
      type: object
      properties:
        message:
          type: string
          description: 요청이 성공했습니다.
        status:
          type: number
          description: "200"
