name: 'PR Discord Notification'

on:
  pull_request:
    branches:
      - develop
      - main
    types:
      - opened
      - closed

jobs:
  notification:
    runs-on: ubuntu-24.04

    steps:
      - name: Discord Notification
        env:
          ACTION: ${{ github.event.action }}
          MERGED: ${{ github.event.pull_request.merged }}
          USERNAME: ${{ github.event.pull_request.user.login }}
          TITLE: ${{ github.event.pull_request.title }}
          URL: ${{ github.event.pull_request.html_url }}
        run: |
          DESCRIPTION_MESSAGE="temp"

          if [[ "$ACTION" == "opened" ]]; then
            DESCRIPTION_MESSAGE="[ OPENED ] λ¦¬λ·° λ‹¬μ•„μ£Όμ…”μ”"
          elif [[ "$ACTION" == "closed" && "$MERGED" == "true" ]]; then
            DESCRIPTION_MESSAGE="[ MERGED ] π’―π’―π’―"
          else
            DESCRIPTION_MESSAGE="[ CLOSED ] λ¨Έν•¨μ”?"
          fi
          
          curl -X POST -H "Content-Type: application/json" \
          -d '{
              "embeds": [
                {
                  "title": "πµ μ„λ²„λ” μ—΄μΌ μ¤‘... πµ",
                  "description": "**π”¥ '"$DESCRIPTION_MESSAGE"' π”¥**\nπ‘¤ '"$USERNAME"'\nπ” '"$TITLE"'\nπ”— '"$URL"'",
                  "color": 6847432
                }
              ]
            }' ${{ secrets.DISCORD_WEBHOOK_URL }};
